<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reely.mapper.MemberMapper">
    <select id="findAll" resultType="Member">
        select * from reely_stg.member
    </select>
    <insert id="insertMember" parameterType="Member">
        insert into reely_stg.member
            (
             member_id
            ,member_pwd
            ,member_email
            ,member_nm
            ,member_gender
            ,member_birth
            ,sns_yn
            ,file_id
            )
        values
            (
             #{memberId}
            ,#{memberPwd}
            ,#{memberEmail}
            ,#{memberNm}
            ,#{memberGender}
            ,#{memberBirth}
            ,#{snsYn}
            ,#{fileId}
            )
    </insert>
</mapper>
