<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reely.mapper.MemberMapper">
    <select id="findAll" resultType="Member">
        select * from member
    </select>
    <insert id="insertMember" parameterType="member">
        insert into member
            (
             member_id
            ,member_pwd
            ,member_email
            ,member_nm
            ,member_gender
            ,member_birth
            ,sns_yn
            ,file_id
            ,del_yn
            ,role
            )
        values
            (
             #{memberId}
            ,#{memberPwd}
            ,#{memberEmail}
            ,#{memberNm}
            ,#{memberGender}
            ,#{memberBirth}
            ,#{snsYn}
            ,#{fileId}
            ,'N'
            ,'ROLE_USER'
            )
    </insert>

    <select id="findMemberByMemberId" parameterType="member" resultType="Boolean">
        select count(member_id)
          from member
         where member_id = #{memberId}
           and del_yn != 'Y'
    </select>

    <select id="findMemberInfo" parameterType="String" resultType="Member">
        select
               member_pk AS memberPk
             , member_id AS memberId
             , member_pwd AS memberPwd
             , member_email AS memberEmail
             , role
        from member
        where member_id = #{memberId}
          and del_yn != 'Y'
    </select>

    <select id="findMemberByMemberEmail" parameterType="member" resultType="Boolean">
        select count(member_email)
          from member
         where member_email = #{memberEmail}
           and del_yn != 'Y'
    </select>
    <select id="findMemberIdByMemberEmail" parameterType="email" resultType="member">
        select member_id AS memberId
          from member
         where member_email = #{email}
           and del_yn != 'Y'
    </select>
</mapper>
