<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reely.mapper.MovieMapper">
    <insert id="insertCountryInfo" parameterType="Movie">
        insert into movie_country
            (
             country_cd,
             frst_reg_date
            )
        values
            (
             #{countryCd},
             NOW()
            )
    </insert>

    <insert id="insertProductionImgInfo" parameterType="Movie">
        insert into movie_production
            (
             production_id,
             movie_id,
             production_logo_file_id,
             frst_reg_date
            )
        values
            (
              #{productionId},
              #{movieId},
              #{productionLogoFileId},
              NOW()
            )
    </insert>

    <insert id="insertProductionInfo" parameterType="Movie">
        insert into production
            (
             production_ko_nm,
             production_en_Nm,
             logo_file_id,
             production_country,
             frst_reg_date
            )
        values
            (
              #{productionKoNm},
              #{productionEnNm},
              #{productionLogoFileId},
              #{productionCountry},
              NOW()
            )
    </insert>

    <insert id="insertFileInfo" parameterType="Movie">
        insert into file
            (
             file_id,
             movie_id,
             file_path,
             file_upload_dt,
             file_typ_cd,
             frst_reg_date
            )
        values
            (
             #{fileId},
             #{movieId},
             #{filePath},
             NOW(),
             #{fileTypCd},
             NOW()
            )
    </insert>

    <insert id="insertMovieCast" parameterType="Movie">
        insert into movie_cast
            (
             cast_id,
             movie_id,
             frst_reg_date
            )
        values
            (
             #{castId},
             #{movieId},
             NOW()
            )
    </insert>

    <!-- 배우 정보 저장 -->
    <insert id="insertCastInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO cast (
            cast_ko_nm,
            cast_en_nm,
            role_ko_nm,
            role_en_nm,
            file_id,
            role_grp_nm,
            cast_etc,
            cast_birth,
            cast_death,
            country_cd
            frst_reg_date
        ) VALUES (
            #{castKoNm},
            #{castEnNm},
            #{roleKoNm},
            #{roleEnNm},
            #{fileId},
            #{roleGrpNm},
            #{castEtc}
            #{castBirth},
            #{castDeath},
            #{countryCd},
            NOW()
        )
    </insert>
    
    <!-- 배우-영화 관계 저장 -->
    <insert id="insertCastMovieInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO movie_cast (
            cast_id,
            movie_id,
            frst_reg_date
        ) VALUES (
            #{castId},
            #{movieId},
            NOW()
        )
    </insert>

    <insert id="insertMovieCrew" parameterType="com.reely.dto.MovieDto">
        INSERT INTO movie_crew (
            crew_id,    
            movie_id,
            crew_department,
            crew_role,
            director_yn,
            frst_reg_date
        ) VALUES (
            #{crewId},
            #{movieId},
            #{crewDepartment},
            #{crewRole},
            #{directorYn},
            NOW()
        )
    </insert>

    <!-- 스태프 정보 저장 -->
    <insert id="insertCrewInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO crew (
            crew_id,
            crew_ko_nm,
            crew_en_nm,
            crew_birth,
            crew_death,
            frst_reg_date
        ) VALUES (
            #{crewId},
            #{crewKoNm},
            #{crewEnNm},
            #{crewBirth},
            #{crewDeath},
            NOW()
        )
    </insert>
    
    <!-- 스태프-영화 관계 저장 -->
    <insert id="insertCrewMovieInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO movie_crew (
            crew_id,
            movie_id,
            role_grp_nm,
            crew_role,
            frst_reg_date
        ) VALUES (
            #{crewId},
            #{movieId},
            #{roleGrpNm},
            #{crewRole},
            NOW()
        )
    </insert>

    <select id="getMovieId" resultType="java.lang.Integer">
        SELECT nextval('movie_id_seq')
    </select>

    <select id="getProductionId" resultType="java.lang.Integer">
        SELECT nextval('production_id_seq')
    </select>

    <select id="getCrewId" resultType="java.lang.Integer">
        SELECT nextval('crew_id_seq')
    </select>

    <select id="getCastId" resultType="java.lang.Integer">
        SELECT nextval('cast_id_seq')
    </select>

    <select id="getFileId" resultType="java.lang.Integer">
        SELECT nextval('file_id_seq')
    </select>

    <insert id="insertSoundtrackInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO soundtrack (
            soundtrack_id,
            movie_id,
            album_id,
            album_nm,
            song_nm,
            artist_nm,
            duration_ms,
            frst_reg_date
        ) VALUES (
            #{soundtrackId},
            #{movieId},
            #{albumId},
            #{albumNm},
            #{songNm},
            #{artistNm},
            #{durationMs},
            NOW()
        )
    </insert>

    <insert id="insertSoundtrackImg" parameterType="com.reely.dto.MovieDto">
        INSERT INTO soundtrack_img (
            soundtrack_id,
            album_img_id,
            frst_reg_date
        ) VALUES (
            #{soundtrackId},
            #{albumImgId},
            NOW()
        )
    </insert>

    <select id="getAlbumId" resultType="java.lang.Integer">
        SELECT nextval('album_id_seq')
    </select>

</mapper>
