<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reely.mapper.MovieMapper">
    <insert id="insertCountryInfo" parameterType="Movie">
        insert into movie_country
            (
             country_cd,
             frst_reg_date
            )
        values
            (
             #{countryCd},
             NOW()
            )
    </insert>

    <insert id="insertProductionInfo" parameterType="Movie">
        insert into production
            (
             production_id,
             production_ko_nm,
             production_en_Nm,
             logo_file_id,
             production_country,
             frst_reg_date
            )
        values
            (
              #{productionId},
              #{productionKoNm},
              #{productionEnNm},
              #{productionLogoFileId},
              #{productionCountry},
              NOW()
            )
    </insert>

    <insert id="insertMovieProductionInfo" parameterType="Movie">
        insert into movie_production
            (
             production_id,
             movie_id,
             frst_reg_date
            )
        values
            (
              #{productionId},
              #{movieId},
              NOW()
            )
    </insert>

    <insert id="insertFileInfo" parameterType="list">
        insert into file
            (
             file_id,
             file_path,
             file_upload_dt,
             file_typ_cd,
             frst_reg_date
            )
        values
        <foreach collection="list" item="file" separator=",">
            (
                #{file.fileId},
                #{file.filePath},
                NOW(),
                #{file.fileTypCd},
                NOW()
            )
        </foreach>
    </insert>

    <insert id="insertCastImg" parameterType="com.reely.dto.MovieDto">
        INSERT INTO cast_img (
            cast_id,
            cast_logo_file_id,
            frst_reg_date
        ) VALUES (
            #{castId},
            #{castLogoFileId},
            NOW()
        )
    </insert>

    <!-- 배우 정보 저장 -->
    <insert id="insertCastInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO cast (
            cast_ko_nm,
            cast_en_nm,
            role_ko_nm,
            role_en_nm,
            file_id,
            role_grp_nm,
            cast_etc,
            cast_birth,
            cast_death,
            country_cd
            frst_reg_date
        ) VALUES (
            #{castKoNm},
            #{castEnNm},
            #{roleKoNm},
            #{roleEnNm},
            #{fileId},
            #{roleGrpNm},
            #{castEtc}
            #{castBirth},
            #{castDeath},
            #{countryCd},
            NOW()
        )
</insert>
    
    <!-- 배우-영화 관계 저장 -->
    <insert id="insertCastMovieInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO movie_cast (
            cast_id,
            movie_id,
            frst_reg_date
        ) VALUES (
            #{castId},
            #{movieId},
            NOW()
        )
    </insert>
    
    <!-- 스태프 정보 저장 -->
    <insert id="insertCrewInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO crew (
            crew_ko_nm,
            crew_en_nm,
            crew_role,
            crew_birth,
            crew_death,
            crew_director_yn,
            frst_reg_date
        ) VALUES (
            #{crewKoNm},
            #{crewEnNm},
            #{crewRole},
            #{crewBirth},
            #{crewDeath},
            #{crewDirectorYn},
            NOW()
        )
    </insert>
    
    <!-- 스태프-영화 관계 저장 -->
    <insert id="insertCrewMovieInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO movie_crew (
            crew_id,
            movie_id,
            role_grp_nm,
            crew_role,
            frst_reg_date
        ) VALUES (
            #{crewId},
            #{movieId},
            #{roleGrpNm},
            #{crewRole},
            NOW()
        )
    </insert>

    <select id="getMovieId" resultType="java.lang.Integer">
        SELECT nextval('movie_id_seq')
    </select>

    <select id="getProductionId" resultType="java.lang.Integer">
        SELECT nextval('production_id_seq')
    </select>

    <select id="getCrewId" resultType="java.lang.Integer">
        SELECT nextval('crew_id_seq')
    </select>

    <select id="getCastId" resultType="java.lang.Integer">
        SELECT nextval('cast_id_seq')
    </select>

    <select id="getFileId" resultType="java.lang.Integer">
        SELECT nextval('file_id_seq')
    </select>

    <select id="getSoundtrackId" resultType="java.lang.Integer">
        SELECT nextval('soundtrack_id_seq')
    </select>

    <select id="getAlbumId" resultType="java.lang.Integer">
        SELECT nextval('album_id_seq')
    </select>

    <insert id="insertSoundtrackImg" parameterType="com.reely.dto.MovieDto">
        INSERT INTO soundTrack_img (
            soundtrack_id,
            album_file_id,
            frst_reg_date
        ) VALUES (
            #{soundtrackId},
            #{albumFileId},
            NOW()
        )
    </insert>

    <insert id="insertSoundtrackInfo" parameterType="com.reely.dto.MovieDto">
        INSERT INTO soundTrack (
            soundtrack_id,
            movie_id,
            album_id,
            album_nm,
            duration_ms,
            song_nm,
            artist_nm,
            frst_reg_date
        ) VALUES (
            #{soundtrackId},
            #{movieId},
            #{albumId},
            #{albumNm},
            #{durationMs},
            #{songNm},
            #{artistNm},
            NOW()
        )
    </insert>

</mapper>
