<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reely.mapper.SettingMapper">

    <select id="findAll" resultType="setting">
        SELECT faq_id as faqId
             , faq_title as faqTitle 
             , faq_contents as faqContents
        FROM reely_stg.faq
    </select>

    <select id="getTermsList" resultType="setting">
        SELECT terms_id as termsId
             , terms_title as termsTitle 
             , terms_contents as termsContents
        FROM reely_stg.terms
    </select>

    <select id="getLatestVersion" resultType="setting">
        SELECT released_date as releasedDate
             , version as version
        FROM reely_stg.version
    </select>
</mapper>
