<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <settings>
        <!-- MyBatis의 캐시 기능 비활성화 -->
            <setting name="cacheEnabled" value="false"/>
        </settings>
    <typeAliases>
        <typeAlias type="com.reely.dto.MemberDto" alias="member"></typeAlias>
        <typeAlias type="com.reely.dto.SettingDto" alias="setting"></typeAlias>
        <typeAlias type="com.reely.dto.MovieDto" alias="movie"></typeAlias>
    </typeAliases>
</configuration>
